!! Fontes
URxvt.font: xft:hack:pixelsize=14
!! Aparencia - Meu tema Mate
URxvt.scrollBar: false
URxvt*foreground: #E9B96E
*color0:  #2E3436
*color1:  #cc0000
*color2:  #4E9A06
*color3:  #C4A000
*color4:  #3465A4
*color5:  #75507B
*color6:  #06989A
*color7:  #D3D7CF
*color8:  #555753
*color9:  #EF2929
*color10: #8AE234
*color11: #FCE94F
*color12: #729FCF
*color13: #AD7FA8
*color14: #34E2E2
*color15: #EEEEEC
!! Transparencia
URxvt*depth: 32
URxvt*background: rgba:0000/0000/0200/ce00

!! Extensões
URxvt.perl-ext-common: fullscreen
URxvt.keysym.F11: perl:fullscreen:switch
